html {
    margin: 0px;
   min-height: 100%;
   width: 100%;
}
h1 {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #ffffff;
}
body {
    margin: 0px;
   min-height: 100%;
   width: 100%;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

button {
    font-size: 2rem;
    min-width: 5rem;
    background-color: #524e4e;
    color: #ffffff;
    border: none;
    transition-duration: 0.4s;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding: 1rem;
    background-color: #272525;
    grid-gap: 0.5rem;
}

#zero {
    grid-column: 1 / span 2;
    grid-row: 5;
}

#equal {
    grid-column: 4;
    grid-row: 4 / span 2;
    background-color: rgb(228, 107, 8);
    transition-duration: 0.4s;
}

#container {
    height: 24rem;
    width: 28rem;
    border-radius: 1rem;
    background-color: #272525;
    padding: 2rem;
    margin: auto;
}

#screen {
    height: 2.5rem;
    width: 22rem;
    background-color: #9cc180;
    border-radius: 1rem 1rem 0rem 0rem;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: "Bank Gothic", "Futura", "Arial";
}
#screen2 {
    height: 2.5rem;
    width: 22rem;
    background-color: #9cc180;
    border-radius: 0rem 0rem 1rem 1rem;
    margin: auto;
    text-align: right;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-family: "Bank Gothic", "Futura", "Arial";
}

button:hover {
    background-color: rgb(138, 136, 136);
}
#equal:hover {
    background-color: rgb(228, 135, 59);
}

* {
    box-sizing: border-box;
  }